/*** Base Style ***/

* {
	box-sizing: border-box;
	color: black;
}

body {
	font-family: 'Dancing Script', cursive;
	color: black;
	padding: 0px;
	margin: 0px;
}

h1 {
	color: blue;
	font-variant-caps: small-caps;
	font-size: 2.0em;
	font-weight: bold;
} 

p {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	padding: 5px 25px 0px 25px;
}

a { 
	padding: 5px;
	margin: 0px;
	color: blue;
}

.container-fluid {
	padding: 0px;
	margin: 0px 15px 0px 10px;
}

.section {
	position: relative;
	border: 1px black solid;
	background-color: yellow;
	margin: 5px;
	margin-left: 5px;
	margin-right: -25px;
	margin-bottom: 5px;
}

/*** HEADER ***/

.navbar {
	background-color: #99EEEE;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-radius: 0;
	height: auto;
}

.navbar-default a {
	color: #999999;
	font-weight: bold;
}
.navbar-header {
	background-color: #99EEEE;
	border-radius: 0px;
	height: auto;
	width: auto;
	color: black;
}

.navbar-brand {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	font-style: bold;
	font-size: 4em;
	font-variant: small-caps;
	background-color: #99EEEE;
	width: auto;
}

.navbar-collapse {
	font-size: 2em;
	font-weight: bold;
	background-color: pink;
	padding: 0px;
	margin: 0px;
	width: auto;
	color: black;
}

.navbar-toggle {
	border-style: solid;
	border-color: black !important;
	border-width: 1px;
	background-color: #99EE99 !important;
}


.navbar-nav {
	margin: 0px;
	font-weight: bold;
	color: black;
	width: auto;
}

#navbar-nav a {
	background-color: #EEEEEE;
	padding: 0px;
	margin: 0px;
	width: auto;
	color: black;
}

#ht1 {
	text-align: center;
    padding-top: 1%;
    font-size: 2.0em;
    font-weight: bold;  
    color: red;
}

#ht2 {
	text-align: center;
    padding-top: 1%;
    font-size: 2.0em;
    font-weight: bold;  
    color: red;
}

#ht3 {
	text-align: center;
    padding-top: 1%;
    font-size: 2.0em;
    font-weight: bold;  
    color: red;
}

.hide-container {
	width: auto;
	margin: 0px -15px 0px -15px;
	padding: 0px;
}

 .row {
 	width: 100%;
}

 #MenuTitle {
 	font-size: 1.75em;
 	margin-bottom: 20px;
}


/*** Large Devices Only ***/
@media (min-width: 1200px) {.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { 

float: left;
border: transparent;
padding: 1%;
} 

.col-lg-1 { 
width: 8.33%; 
} 
.col-lg-2 { 
width: 16.66%; 
} 
.col-lg-3 { 
width: 25%; 
} 
.col-lg-4 { 
width: 33.33%;
} 
.col-lg-5 { 
width: 41.66%; 
} 
.col-lg-6 { 
width: 50%; 
} 
.col-lg-7 { 
width: 58.33%; 
} 
.col-lg-8 { 
width: 66.66%; 
} 
.col-lg-9 { 
width: 74.99%; 
} 
.col-lg-10 { 
width: 83.33%; 
} 
.col-lg-11 { 
width: 91.88%; 
} 
.col-lg-12 { 
width: 100%; 
} 

/*** Medium Devices Only ***/
@media (min-width: 992px) and (max-width: 1199px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { 

float: left;
border: transparent;
padding: 1%;
} 

.col-md-1 { 
width: 8.33%; 
} 
.col-md-2 { 
width: 16.66%; 
} 
.col-md-3 { 
width: 25%; 
} 
.col-md-4 { 
width: 33.33%; 
} 
.col-md-5 { 
width: 41.66%; 
} 
.col-md-6 { 
width: 49.6%;
} 
.col-md-7 { 
width: 58.33%; 
} 
.col-md-8 { 
width: 66.66%; 
} 
.col-md-9 { 
width: 74.99%; 
} 
.col-md-10 { 
width: 83.33%; 
} 
.col-md-11 { 
width: 91.88%; 
} 
.col-md-12 { 
width: 100%; 
} 
}

/*** Small Devices Only ***/
@media (min-width: 768px) and (max-width: 991px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { 

float: left;
border: transparent;
padding: 1%;
} 

.col-sm-1 { 
width: 8.33%; 
} 
.col-sm-2 { 
width: 16.66%; 
} 
.col-sm-3 { 
width: 25%; 
} 
.col-sm-4 { 
width: 33.33%; 
} 
.col-sm-5 { 
width: 41.66%; 
} 
.col-sm-6 { 
width: 50%; 
} 
.col-sm-7 { 
width: 58.33%; 
} 
.col-sm-8 { 
width: 66.66%; 
} 
.col-sm-9 { 
width: 74.99%; 
} 
.col-sm-10 { 
width: 83.33%; 
} 
.col-sm-11 { 
width: 91.88%; 
} 
.col-sm-12 { 
width: 100%; 
}  
}


/*** Extra Small Devices Only ***/
@media (max-width: 767px) {
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { 

float: left;
border: transparent;
padding: 1%;
} 

.col-xs-1 { 
width: 8.33%; 
} 
.col-xs-2 { 
width: 16.66%; 
} 
.col-xs-3 { 
width: 25%; 
} 
.col-xs-4 { 
width: 33.33%; 
} 
.col-xs-5 { 
width: 41.66%; 
} 
.col-xs-6 { 
width: 50%; 
} 
.col-xs-7 { 
width: 58.33%; 
} 
.col-xs-8 { 
width: 66.66%; 
} 
.col-xs-9 { 
width: 74.99%; 
} 
.col-xs-10 { 
width: 83.33%; 
} 
.col-xs-11 { 
width: 91.88%; 
} 
.col-xs-12 { 
width: 100%; 
}  
}